/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #e9e89a;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

/* Section Styles */
section {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-bottom: 70px;
}
section h1 {
    font-size: 40px;
    text-align: center;

}

/* Form Styles */
/* form {
    display: flex;
    flex-direction: column;
    gap: 10px;
} */

/* Input Styles */
#input{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 16px;
    width: 76%;
}

/* Button Styles */
button {
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

/* List Block Styles */
#list_blk { 
    margin-top: 10px;
    max-height: 400px; 
    /* height: inherit; */
    overflow-y: auto; 

} 

/* List Item Styles */
#list_blk ul {
    /* list-style-type: none; */
    height: inherit;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    
}

/* Delete Button Styles */
#list_blk ul button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #dc3545;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

#list_blk ul button:hover {
    background-color: #c82333;
}
